.home{
    background-color: #E3E6E6;
    max-width: 1490px;
    margin-right: auto;
    margin-left: auto;
}
.bannerImage{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
}
.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;

}